*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}
fieldset, img {
  border: 0;
}
li {
  list-style: none;
}

.global_wrapper{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}


/* стилі Роберта */
.wrapper-text{
  padding-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gray-text{
  display: flex;
  flex-direction: column;
}
.text{
  margin: 0 22px 0 27px;
  padding-bottom: 60px;
}
.text-down{
  margin: 0 22px 0 27px;
}
strong{
  color: #D2AC47;
}
.line{
  height: 3px;
  width: 73px;
  border-radius: 2px;
  background-color: #D2AC47;
  margin-bottom: 13px;
}
.h1{
  font-family: 'Raleway', sans-serif;
  padding-bottom: 10px;
  font-size: 24px;
  color: #000000;
}
.p{
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #212121;
  line-height: 23px;
}
.pdown{
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #757575;
  padding-bottom: 5px;
  line-height: 23px;
}
.pdown1{
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #757575;
  line-height: 23px;
}


@media screen and (min-device-width: 768px){
  .text{
    padding-bottom: 40px;
  }
  .line{
    display: none;
  }
  .gray-text{
    display: flex;
    flex-direction: row;
  }
  .h1{
    font-size: 26px;
  }
  .p{
    font-size: 19px;
    line-height: 29px;
  }
  .pdown1{
    line-height: 32px;
    margin-left: 34px;
    font-size: 18px;
  }
  .pdown{
    line-height: 32px;
    font-size: 18px;
  }
  .text{
    margin: 0 120px 0 120px;
    padding-bottom: 60px;
  }
  .text-down{
    margin: 0 120px 0 120px;
  }
}
    /* стилі Роберта закінчились */




.div_tarasik{
  margin-left: 20px;
  position: relative;
}

.h1_tarasik{

  font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.01em;

color: #000000;

}

.div2_img_tarasik{
  width: 280px;
  height: 280px;
  background-image:url(../images/mobile/Rectangle\ 3\ \(1\).png);
}

.hr_tarasik{
  border: none;
  border-radius: 2px;
  background-color: #D2AC47;
  color: #D2AC47;
  height: 2px;
  width: 72px;
  
  margin-left: 0;
    
}

.p_tarasik{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
/* or 175% */

letter-spacing: 0.02em;

color: #757575;
}

.colortext{
  color: orange;
}


@media screen and (min-width: 768px){
  
  .div2_img_tarasik{
    
width: 511px;
height: 240px;
margin-left: 130px;
margin-top: 80px;
 background-image: url(../images/tablet/Rectangle\ 9.png);  
  }
  .hr_tarasik{
    border: none;
  border-radius: 2px;
  background-color: #D2AC47;
  color: #D2AC47;
  height: 2px;
  width: 72px;
  position: absolute;
  left: 130px;
  top: 315px;;
  }
   
  .h1_tarasik{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.01em;

color: #212121;
width: 350px;
position: absolute;
left: 230px;
top: 305px;
  }
  .p_tarasik{
    
width: 406px;

margin-left: 234px;
margin-top: 180px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;


letter-spacing: 0.02em;

color: #757575;
  }
}

@media screen and (min-width: 1280px){
  .div2_img_tarasik{
    width: 409px;
height: 548px;
margin-left: 728px;
background-image: url(../images/desktop/Rectangle\ 9.png);
  }
.h1_tarasik{
  top: 0;
  
  font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.01em;

color: #212121;
}

.hr_tarasik{
  bottom: 5px;
  border: none;
  border-radius: 2px;
  background-color: #D2AC47;
  color: #D2AC47;
  height: 2px;
  width: 72px;
  top: 10px;
}
.p_tarasik{
  width: 379px;
margin-left: 246px;
margin-top: 0px;
position: absolute;
top: 102px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
/* or 175% */

letter-spacing: 0.02em;

color: #757575;

}
}

.box_manzel{
  width: 320px;
}
.text_manzel{
  margin-left: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em; 
  color: #000000;
}
.photo_manzel{
  width: 280px;
  height: 280px;
  margin-left: 20px;
  background-image: url(../images/mobile/Rectangle\ 3\ \(2\).png);
  margin-top: 20px;
}
.manzel_text_stick{
  margin-left: 20px;
  width: 280px;
  height: 822px;
  margin-top: 40px;
}
.manzel_stick{
  margin-left: 1px;
  width: 73px;
  height: 2px;
  background-color:#D2AC47;;
}
.manzel_text{
  margin-top: 20px;
}
.text1_manzel{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-top: 20px;
}
.text2_manzel{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-top: 20px;
}
.manzel_text1 {
  display: none;
}


@media screen and (min-width:768px){
  .photo_manzel{
    width: 511px;
    background-image: url(../images/tablet/img.png);
    margin-left: 129px;
  }
  .text_manzel{
    display: none;
  }
  .manzel_stick{
    display: none;
  }
  .manzel_text1 {
    display: block;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
    letter-spacing: 0.01em; 
    color: #000000;
  }
  .manzel_text_stick{
    width: 511px;
    height: 506px;
    margin-left: 129px;
  }

  .box_manzel{
    padding-top: 65px;
    background-color: #F7F7F7;
    margin-top: 65px;
    width: 100%;
  }
}



@media screen and (min-width:1280px){
  .photo_manzel{
    width: 513px;
    background-image: url(../images/desktop/img.png);
    margin-left: 143px;
    height: 548px;
  }
  .text_manzel{
    display: none;
  }
  .manzel_stick{
    display: none;
  }
  .manzel_text1 {
    display: block;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
    letter-spacing: 0.01em; 
    color: #000000;
  }
  .manzel_text_stick{
    width: 379px;
    height: 592px;
    margin-left: 102px;

  }
  .box_manzel{
    width: auto;
    display: flex;
    padding-top: 105px;
    background-color: #F7F7F7;
    margin-top: 100px;
  }
}
