*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

fieldset, img {
  border: 0;
}

li {
  list-style: none;
}


/* стилі Роберта */
.wrapper-text{
  padding-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gray-text{
  display: flex;
  flex-direction: column;
}
.text{
  margin: 0 22px 0 27px;
  padding-bottom: 60px;
}
.text-down{
  margin: 0 22px 0 27px;
}
strong{
  color: #D2AC47;
}
.line{
  height: 3px;
  width: 73px;
  border-radius: 2px;
  background-color: #D2AC47;
  margin-bottom: 13px;
}
.h1{
  font-family: 'Raleway', sans-serif;
  padding-bottom: 10px;
  font-size: 24px;
  color: #000000;
}
.p{
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #212121;
  line-height: 23px;
}
.pdown{
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #757575;
  padding-bottom: 5px;
  line-height: 23px;
}
.pdown1{
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #757575;
  line-height: 23px;
}


@media screen and (min-device-width: 768px){
  .text{
    padding-bottom: 40px;
  }
  .line{
    display: none;
  }
  .gray-text{
    display: flex;
    flex-direction: row;
  }
  .h1{
    font-size: 26px;
  }
  .p{
    font-size: 19px;
    line-height: 29px;
  }
  .pdown1{
    line-height: 32px;
    margin-left: 34px;
    font-size: 18px;
  }
  .pdown{
    line-height: 32px;
    font-size: 18px;
  }
  .text{
    margin: 0 120px 0 120px;
    padding-bottom: 60px;
  }
  .text-down{
    margin: 0 120px 0 120px;
  }
}
    /* стилі Роберта закінчились */
